//
// Variables
//

//path tu images
$imagesDir: '../img/';

//path to fonts
$fontsDir: '../css/fonts/';

//colors
$black: #000;
$white: #fff;

//fonts
$font: 'Lato', sans-serif;
$font2: $font;

$minWidth: 1300px;